body {
    background-color: #ff5c58;
    font-family: 'Oswald', sans-serif;
}

span {
    color: black;
    font-weight: bolder;
}

.pokeContainer {
    column-count: auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.my-card {
    background-color: #424242;
    color: blanchedalmond;
    height: 300px;
    box-shadow: 5px 10px 2px #f4f80f80;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}

.my-title {
    color: rgb(252, 250, 250);
    padding: 20px;
}

.my-img {
    width: 148px;
}

.img-div {
    margin: auto;
}