body  {
    background-color: rgba(44, 44, 44, 0.733);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   h1 {
    /* propiedad : valor */
    color: rgba(255, 117, 147, 0.726);
   
   }
   h2 {
    /* propiedad : valor */
    color: rgba(255, 117, 147, 0.726);
   
   }
   h3 {
    /* propiedad : valor */
    color: rgba(255, 117, 147, 0.658);
   
   }
   h4 {
    /* propiedad : valor */
    color: rgba(255, 117, 147, 0.575);
   
   }
   p {
    /* propiedad : valor */
       color: rgb(96, 247, 209);
   
   }
   
li {
    /* propiedad : valor */
       color: rgb(96, 247, 209);
   
   }

   img {height: 300px;
width: 300px;
border-radius: 30%;
}

a { text-decoration: none; 
color: salmon;}

  

<div>
  <table>
    ...
    <td>Celda 1-1</td>
    <td>Celda 1-2</td>
    ...
  </table>
</div>



